@import url('https://fonts.googleapis.com/css?family=Gaegu');

  img{
  margin-top:50px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

p {
  text-align: center;
  font-family: 'Gaegu', cursive;
  margin-top: 50px;
  font-size: 2rem;
  color:#DB056D;
}

.App {
  text-align: center;
}

form, input {
  width: 80vh;
  margin-bottom: 20px;
}